out/
.vscode/
.idea/
diagrams/structural_overview/.SWOP_Structural_Overview.vpp.lck
swop1920.iml
projects/gameworldapi/out/
projects/blockr/out/
projects/robotgameworld/out/
projects/jumpergame/out/
projects/gameworldapi/.idea/
projects/blockr/.idea/
projects/robotgameworld/.idea/
projects/jumpergame/.idea/
